body{
    background-image: url(/img/8.jpg);
    background-size: cover;
}

.login_form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login_header{
    background-image: linear-gradient(to top, #0675b9 0%, #ebf1f5 100%);
    padding: 40px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login_header img{
    width: 100px;
}

.login_header h1{
    color: #333;
    font-size: 1.5em;
}

.login_input{
    border: 2px solid #333;
    border-radius:8px;
    margin-top: 20px;
    font-size: 1em;
    max-width: 250px;
    padding: 10px;
    width: 100%;
}

.login_button{
    background-color: #ee665c;
    border-radius: 8px;
    margin-top: 20px;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
}

.login_button:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
    }

    